/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#date-select {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    display: inline-block;
  }
#route-planner {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    display: inline-block;
}

@media (max-width: 768px) {
  #map {
    position: relative;
    width: 100vw;
    font-size: 20px;
    max-width: 768px;
    margin: 0 auto;
    /*padding: 0 20px*/;
    /*box-sizing: border-box;*/}
  #description {
    width: 70vw;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 20px;
    float: left;
    box-sizing: border-box; }
}


/* For devices larger than 550px */

