@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body {
  background-color: darkgrey;
}

/*Headers*/
#h1, h2, h3, h4, h5, h6 {
  color: black;
  position: relative;
  font-weight: 600;
  font-family: "Source Sans Pro";
  z-index: 3;
}

h1 {
  font-size: 3.25rem;
  line-height: 1.3;
  letter-spacing: 0.2rem; }

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.2rem; }

h3 {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.2rem; }

h4 {
  font-size: 0.8rem; }

h5 {
  font-size: 0.7rem; }

h6 {
  font-size: 0.6rem; }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.75rem;
    line-height: 1.4; }

  h2 {
    font-size: 1.25em;
    line-height: 1.5; }

  h3 {
    font-size: 0.8em;
    line-height: 1.5; } }

/* BG */
#bg {
  background-color: darkgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; }


/* Button */
#date_select,
#input-start-route,
#input-end-route,
#calc-route-button,
input,
.input,
button,
.button {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 8px;
  border: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  /*padding: 0 1.25rem 0 1.25rem;*/
  height: 3.00rem;
  line-height: 2.75rem;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Source Sans Pro";
  /*text-decoration: underline;*/
  /*text-transform: uppercase;*/
  letter-spacing: 0.2rem;
  outline: 0;
  text-align: center;
  z-index: 3; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: rgba(255, 255, 255, 0.075); }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: rgba(255, 255, 255, 0.175); }
  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5em; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1rem 0;
    width: 100%; }
  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #ffffff;
    color: #1b1f22 !important;
    font-weight: 600; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    cursor: default;
    opacity: 0.25; }

#date_select {
    z-index: 4;
}

#map {
    background-color: darkgrey;
}

@media screen and (max-width: 736px) {
  button{
    font-size: 1rem;
    height: 2.25rem;
    line-height: 2rem;
  }
}

/* Footer */
#footer {  /*ease-in-out of footer
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out; */
  position: absolute;
  width: 100%;
  max-width: 100%;
  font-family: "Source Sans Pro";
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  bottom: 4%; /* change according to your needs */
  z-index: 3}
  #footer_copyright {
    position: relative;
    letter-spacing: 0.2rem;
    font-size: 0.5rem;
    font-weight: 100;
    font-family: "Source Sans Pro";
    color: #ffffff;
    opacity: 0.75;
    text-transform: uppercase; 
    z-index: 3;}



a { /* not sure */
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: inherit; }
  a:hover {
    border-bottom-color: transparent; }

#titl {
  text-align: center;
  margin-top: 15%;
}

#subtitle {
  text-align: center;
  margin-top: -2.5%;
  font-weight: 300;
}

#buttoncontainer {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
}

#buttonright {
  position: relative;
  margin-top: 8.5%;
  text-align: center;
  float: right;
  margin-right: 23.5%;
  width: 8.5rem;
}
#buttonleft {
  position: relative;
  margin-top: 8.5%;
  text-align: center;
  float: left;
  margin-left: 23.5%;
  width: 8.5rem;
}
@media screen and (max-width: 736px) {
  #buttonright{
    width: 5.5rem;
  }
  #buttonleft{
    width: 5.5rem;
  }
}
@media screen and (max-width: 480px) {
  #buttonright{
    margin-right: 15%;
  }
  #buttonleft{
    margin-left: 15%;
  }
}
