/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#date-select {
  position: absolute;
  width: 60%;
  z-index: 2;
  margin-top: 6%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
}

#route-planner {
  position: absolute;
  width: 60%;
  z-index: 2;
  margin-top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
}

#my-header {
  position: relative;
  width: 60%;
  z-index: 2;
  padding: 1.5rem;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

@media (max-width: 768px) {
  .row {
    font-size: 20px;
  }
  #my-header {
    font-size: 20px;
  }
  #date-select {
    font-size: 20px;
  }
  #route-planner {
    font-size: 20px;
  }
  #map {
    position: relative;
    width: 100vw;
    font-size: 20px;
    max-width: 768px;
    margin: 0 auto;
    /*padding: 0 20px*/;
    /*box-sizing: border-box;*/}
  #description {
    width: 70vw;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 20px;
    float: left;
    box-sizing: border-box; }
}


/* For devices larger than 550px */

